header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  z-index: 2;
}

header > nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header button:hover {
  scale: 1.1;
}

