.question {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  padding: 50px 0;
  position: relative;
  width: 50vw;
  z-index: 2;
}

.question > .triviaIcon {
  height: 250px;
}

.question > .trybeIcon {
  height: 50px;
  margin: 30px 0;
  padding: 0;
}

.questionBody {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  margin: 10% 0 0;
  padding: 50px;
  position: relative;
  width: 70%;
}

.questionCategory {
  align-items: center;
  background: #f9ba18;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  left: 5%;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin: 0 auto;
  padding: 15px;
  position: absolute;
  text-align: center;
  top: -30px;
  width: 90%;
}

.questionCategory > h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.secondary {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  padding: 270px 0 0;
  position: relative;
  width: 50vw;
  z-index: 1;
}

.questionAnswers {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: center;
  width: 100%;
}

.questionTimer {
  bottom: 0;
  color: #ea5d5d;
  display: flex;
  gap: 10px;
  padding: 0;
  position: absolute;
}
